.wrapper {
    display: flex;
    flex-direction: column;

    .title-and-back {
        margin: 16px 0;
        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            width: 100px;
            color: var(--primary-color);
            width: fit-content;
        }
        h2 {
            text-align: center;
        }
    }
    .tabs {
        width: 100%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

    .btn-confirm,
    .btn-warn {
        margin: 0 4px;
    }

    .icon {
        vertical-align: text-bottom;
        margin-right: 12px;
    }
}

.modal {
    align-items: center;
    margin-bottom: 16px;
    text-align: center;
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .title {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        margin: 20px 0 10px;
    }
    select {
        width: 40%;
        padding: 10px;
        margin: 20px 0 30px;
        option {
            padding: 10px;
        }
    }
    textarea {
        margin: 16px 0;
        resize: none;
        width: 80%;
    }
}

.btn-warn {
    padding: 12px 16px;
    cursor: pointer;
    background-color: red;
    border-radius: var(--default-border-radius);
    width: 160px;
    font-size: 1.5rem;
    color: white;

    &:hover {
        opacity: 0.6;
    }
}

.btn-confirm {
    padding: 12px 16px;
    cursor: pointer;
    background-color: green;
    border-radius: var(--default-border-radius);
    width: 160px;
    font-size: 1.5rem;
    color: white;

    &:hover {
        opacity: 0.6;
    }
}
