.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    overflow-y: initial !important;
    .title-and-back {
        margin: 16px 0;
        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            width: 100px;
            color: var(--primary-color);
            width: fit-content;
        }
        h2 {
            text-align: center;
        }
    }
    .tabs {
        width: 100%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: 15px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .icon {
        vertical-align: text-bottom;
        margin-right: 10px;
    }
}
.btn-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal {
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .title {
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        margin: 20px 0 10px;
    }
    select {
        width: 40%;
        padding: 10px;
        margin: 20px 0 30px;
        option {
            padding: 10px;
            background-color: #2c8415;
        }
    }
    textarea {
        margin: 16px 0;
        resize: none;
        width: 80%;
    }
}

.btn-warn {
    cursor: pointer;
    background-color: #ca1414;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}

.btn-confirm {
    cursor: pointer;
    background-color: #2c8415;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}
