.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    .title-and-back {
        margin: 16px 0;
        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
            width: fit-content;
        }
        h2 {
            text-align: center;
        }
    }
    .tabs {
        width: 100%;
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    justify-content: center;
    margin-left: 15px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .icon {
        vertical-align: text-bottom;
        margin-right: 10px;
    }
}
.btn-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.modal {
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    .modal-header {
        background-color: var(--primary-color);
        color: rgba(255, 255, 255, 0.6);
        padding: 14px;
    }
    textarea {
        resize: none;
        max-width: 80%;
    }
    p {
        margin: 3% auto;
        font-size: 2.6rem;
        text-align: center;
    }
}

.btn-warn {
    cursor: pointer;
    background-color: #ca1414;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}

.btn-confirm {
    cursor: pointer;
    background-color: #2c8415;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}
