.wrapper {
    .day-list {
        .day-item {
            display: flex;
            flex-direction: column;
            padding-bottom: 32px;
            margin-bottom: 32px;

            &:not(:last-child) {
                border-bottom: 1px solid #333;
            }

            .day-number {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-bottom: 16px;

                .number {
                    display: flex;
                    align-items: center;

                    .title {
                        color: var(--primary-color);
                    }

                    .completed {
                        color: green;
                        margin-left: 8px;
                    }
                }
            }

            .day-content {
                padding: 0 64px;
                table {
                    width: 100%;
                }

                table,
                th,
                td {
                    border: 1px solid #ccc;
                    border-collapse: collapse;
                }

                th {
                    text-align: left;
                    vertical-align: top;
                }

                th,
                td {
                    padding: 8px;
                    text-align: left;
                }

                .file {
                    cursor: pointer;

                    .file-icon {
                        margin-right: 8px;
                    }
                    &:hover {
                        .file-name {
                            text-decoration: underline;
                        }
                    }
                }

                .image-list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 12px;

                    .image-frame {
                        width: 200px;
                        height: 120px;
                        border: 1px solid #333;
                        border-radius: var(--default-border-radius);

                        img {
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }

                .video-list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 12px;

                    .video-frame {
                        width: 200px;
                        height: 120px;
                        border: 1px solid #333;
                        border-radius: var(--default-border-radius);

                        video {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .error {
                    display: flex;
                    justify-content: center;
                    margin-top: 16px;
                }

                .edit-btn {
                    display: block;
                    margin: 16px auto 0 auto;
                    padding: 8px 16px;
                    border-radius: var(--default-border-radius);
                    cursor: pointer;
                    background-color: green;
                    color: var(--white-color);
                    width: 120px;

                    &:hover {
                        opacity: 0.6;
                    }

                    &.disabled {
                        pointer-events: none;
                        background-color: #ccc;
                        margin-top: 8px;
                    }
                }
            }
        }
    }
    .modal {
        #photo {
            border-radius: 0;
            display: block;
            width: 50%;
            height: 100%;
            margin: 0 auto;
        }
        .closeBtn {
            color: white;
            background: none;
            font-size: 3.2rem;
            float: right;
            cursor: pointer;
        }
    }
}
