.wrapper {
    flex: 1;

    #about-form {
        height: 100%;

        .editor {
            @media (min-width: 1201px) and (max-width: 1920px) {
                height: 82%;
            }

            img {
                width: 240px;
                margin: 0 4px;
                border-radius: var(--default-border-radius);
            }

            video {
                width: 240px;
                margin: 0 4px;
                border-radius: var(--default-border-radius);
            }
        }

        #update-btn {
            display: flex;
            margin: auto;
            margin-top: 16px;
            width: 120px;
            padding: 16px 32px;
            font-size: 2rem;
            font-weight: 500;
            border-radius: var(--default-border-radius);
            background-color: green;
            color: var(--white-color);
            cursor: pointer;

            span {
                margin: auto;
            }

            &:hover {
                opacity: 0.6;
            }

            @media (min-width: 1201px) and (max-width: 1920px) {
                padding: 8px 20px;
                font-size: 1.4rem;
            }
        }
    }
}
