.wrapper {
    flex: 1;

    #about-form {
        height: 100%;
        position: relative;

        .editor {
            height: 85%;
        }

        #update-btn {
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 16px 32px;
            font-size: 2rem;
            font-weight: 500;
            border-radius: var(--default-border-radius);
            background-color: green;
            color: var(--white-color);
        }
    }
}
