.wrapper {
    display: flex;
    padding: 16px 0;
    margin-top: var(--default-navbar-height);
    min-height: var(--default-content-min-height);

    .no-available {
        margin: auto;
        max-width: var(--default-layout-max-width);
        margin-top: var(--default-navbar-height);
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: red;
        }

        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
        }
    }

    .content {
        max-width: var(--default-layout-max-width);
        display: flex;
        margin: auto;
        box-shadow: var(--default-box-shadow);

        .frame {
            flex: 1;
            padding: 16px 32px;
            border-radius: var(--default-border-radius);
        }

        .title-and-back {
            display: flex;
            align-items: center;
            .back {
                margin-bottom: 16px;
                .back-link {
                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                    font-weight: 600;
                    color: var(--primary-color);
                }
            }

            .title {
                flex: 1;
                padding-top: 30px;
                margin-bottom: 20px;
                text-align: center;
                color: var(--primary-color);

                @media (min-width: 1201px) and (max-width: 1920px) {
                    padding-top: 0;
                    margin-bottom: 0;
                }
            }
        }
        .main {
            display: flex;
            .profile {
                position: sticky;
                top: calc(var(--default-navbar-height) + 32px);
                left: 0;
                flex: 0 0 25%;
                display: flex;
                height: fit-content;
                flex-direction: column;
                align-items: center;
                padding: 16px;
                background-color: var(--white-color);
                border-radius: var(--default-border-radius);
                box-shadow: var(--default-box-shadow);

                .avatar {
                    display: flex;
                    border: 2px solid var(--primary-color);
                    background-color: var(--primary-color);
                    border-radius: 4px;

                    .default {
                        margin: auto;
                        width: 80%;
                        height: 50%;
                        color: var(--white-color);
                    }

                    .image {
                        width: 100%;
                        height: 100%;
                    }
                }

                .name {
                    margin-top: 16px;
                    color: var(--text-color);
                    font-size: 3rem;
                    font-weight: 600;
                }

                .male,
                .female,
                .other {
                    font-size: 2rem;
                    font-weight: 500;
                }

                .male {
                    color: #0a66e0;
                }
                .female {
                    color: #df156d;
                }

                .other {
                    color: green;
                }

                .age {
                    font-size: 2rem;
                    font-weight: 500;
                    color: red;
                }
            }
            .tabs {
                width: 100%;
                padding-left: 32px;
            }
        }
    }
}
