.wrapper {
    position: relative;

    .content {
        max-width: var(--default-layout-max-width);
        margin: auto;
        height: 100%;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--default-navbar-height);
        background-color: rgba(18, 18, 18, 0.4);
        display: flex;
        z-index: 1;

        .navbar-content {
            margin: auto;
            max-width: var(--default-layout-max-width);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .logo {
                display: flex;
                align-items: center;
                height: var(--default-navbar-height);
                padding: 24px 0;

                img {
                    height: 100%;
                }

                .name {
                    font-size: 2rem;
                    font-weight: 400;
                    color: var(--white-color);
                    margin-left: 16px;
                }
            }

            .avatar-link {
                display: flex;
                flex-direction: column;
                background-color: var(--white-color);
                z-index: 100;

                .avatar-link-item {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 4px 8px;
                    margin: 4px -8px;
                    cursor: pointer;
                    background-color: var(--white-color);
                    color: #000;
                    font-size: 1.6rem;
                    font-weight: 500;

                    .icon {
                        margin-right: 8px;
                        transform: translateY(2px);
                    }

                    .title {
                        color: #000;
                        font-size: 1.6rem;
                        font-weight: 500;
                    }

                    &:hover {
                        background-color: var(--primary-color);
                        color: var(--white-color);

                        .title {
                            color: var(--white-color);
                        }
                    }
                }
            }

            .drop-link {
                background-color: var(--white-color);
                box-shadow: var(--default-box-shadow);
                border-radius: var(--default-border-radius);
                position: relative;

                .arrow {
                    height: 20px;
                    width: 180px;
                    position: absolute;
                    top: -12px;
                    right: 0px;
                    background-color: transparent;

                    &::before {
                        content: '';
                        position: absolute;
                        right: 36px;
                        top: -8px;
                        border-width: 12px;
                        border-style: solid;
                        border-color: transparent transparent var(--white-color) transparent;
                    }
                }
            }

            .nav-link {
                .nav-link-item {
                    color: var(--white-color);
                    margin: 0 8px;
                    padding: 8px 0;

                    &.active {
                        border-bottom: 1px solid var(--white-color);
                    }
                }
            }

            .info {
                display: flex;
                align-items: center;
                cursor: pointer;

                .name {
                    color: var(--white-color);
                }

                .avatar-wrapper {
                    margin-left: 8px;
                    .avatar {
                        color: var(--primary-color);
                        height: 28px;
                        width: 28px;
                        border-radius: 50%;
                    }
                }
            }

            .auth-btn {
                button {
                    margin: 0 8px;
                    padding: 12px 16px;
                    border-radius: 4px;
                    width: 120px;
                    color: var(--white-color);
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                #login {
                    background-color: var(--primary-color);
                    border: 1px solid var(--primary-color);
                }

                #register {
                    background-color: transparent;
                    border: 1px solid var(--white-color);
                }
            }
        }
    }
}
