.wrapper {
    height: 100%;

    .search {
        display: flex;
        justify-content: flex-end;

        .search-box {
            display: flex;
            height: 36px;
            border-radius: var(--default-border-radius);
            background: var(--search-filter-background-color);
            padding: 8px 12px;
            color: #8f9bba;
            font-size: 1.4rem;
            input {
                background: transparent;
            }

            button {
                background-color: transparent;
                cursor: pointer;
            }

            .search-icon {
                margin-right: 12px;
                color: #2b3674;
                font-size: 1.8rem;
            }
        }
    }

    #request-table {
        table-layout: auto;
        width: 100%;
        text-align: center;
        margin-top: 8px;
        border-spacing: 0 8px;

        .header-row {
            th {
                text-align: center;
                font-weight: 600;
                font-size: 1.4rem;
                color: #909090;
                padding: 8px 16px;
            }
        }

        .content-row {
            box-shadow: var(--default-box-shadow);
            border-radius: var(--default-border-radius);

            td {
                color: #24306e;
                font-size: 1.4rem;
                font-weight: 500;
                padding: 8px 16px;
                text-align: center;

                &.name {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .avatar {
                        width: 32px;
                        height: 32px;
                        margin-right: 16px;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .action-btn {
            text-align: right !important;
            #btn-view-detail {
                padding: 8px 16px;
                cursor: pointer;
                border-radius: var(--default-border-radius);
                background-color: red;
                width: 100px;
                font-size: 1.5rem;
                color: white;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
    }

    .request-empty {
        text-align: center;
        color: red;
    }

    //Modal
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .body {
        padding: 32px 64px;

        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 32px;
        }
        .reason {
            width: 100%;
            resize: none;
            padding: 8px 16px;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}
