.wrapper {
    position: relative;
    min-height: calc(90vh - var(--default-navbar-height));
    display: flex;
    flex-direction: column;

    .title-and-back {
        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            width: 100px;
            color: var(--primary-color);
        }

        .title {
            text-align: center;
            color: var(--primary-color);
        }
    }

    .content {
        flex: 1;
        display: flex;

        #add-form {
            flex: 1;

            .input-group {
                display: flex;
                margin: 8px 0;
                &.price {
                    position: relative;
                }

                .unit {
                    position: absolute;
                    right: 16px;
                }

                &:not(.description) {
                    align-items: center;
                }

                .input-label {
                    min-width: 160px;
                    font-size: 1.6rem;
                    font-weight: 500;
                }

                input {
                    padding: 12px 16px;
                    border: 1px solid var(--primary-color);
                    border-radius: var(--default-border-radius);
                    flex: 1;
                }

                &.description {
                    margin-bottom: 5%;
                    div {
                        flex: 1;
                        border-radius: var(--default-border-radius);

                        div {
                            &:first-child {
                                border: 1px solid var(--primary-color);
                            }
                            &:nth-child(2) {
                                height: unset;
                            }
                        }
                    }

                    img {
                        width: 240px;
                        margin: 0 4px;
                        border-radius: var(--default-border-radius);
                    }

                    video {
                        width: 240px;
                        margin: 0 4px;
                        border-radius: var(--default-border-radius);
                    }
                }
            }

            .btn-wrapper {
                position: absolute;
                bottom: 0;
                right: 0;
                left: 0;
            }
            #agree-btn {
                display: flex;
                margin: auto;
                padding: 8px 16px;
                width: 160px;
                background-color: green;
                color: var(--white-color);
                font-size: 1.6rem;
                font-weight: 500;
                border-radius: var(--default-border-radius);
                cursor: pointer;

                span {
                    margin: auto;
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            .error {
                margin-left: 160px;
            }
        }
    }
}
