.wrapper {
    display: flex;
    flex-direction: column;
    border-radius: 4px;

    &.wrapperCoach {
        // box-shadow: var(--default-box-shadow);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &.wrapperNavBar {
        // margin: calc(var(--default-navbar-height) + 32px) auto 32px auto;
        // width: var(--default-layout-max-width);
    }

    &.wrapperClient {
        height: 65vh;
        box-shadow: var(--default-box-shadow);
        border-radius: 4px;
    }
    .container {
        border-radius: var(--default-border-radius);
        box-shadow: var(--default-box-shadow);
        width: 100%;
        height: 80vh;
        display: flex;

        &.containerCoachDetails {
            margin: unset;
            width: unset;
            height: 65vh;
        }

        &.containerClient {
            margin: calc(var(--default-navbar-height) + 32px) auto 32px auto;
            width: var(--default-layout-max-width);
        }

        &.containerCoach {
            height: 100%;
        }
    }
    .sidebar {
        background-color: white;
        border-right: 1px solid #d9d9d9;
        position: relative;
        &.sidebarCoach {
            flex: 1;
        }
        .navbar {
            display: flex;
            align-items: center;

            height: 50px;
            padding: 10px;
            justify-content: space-between;
            color: var(--primary-color);

            .logo {
                font-weight: bold;
            }

            .user {
                display: flex;
                gap: 10px;

                img {
                    background-color: #2f2d52;
                    height: 24px;
                    width: 24px;
                    border-radius: 50%;
                    object-fit: cover;
                }
            }
        }

        .search {
            border-bottom: 1px solid #d9d9d9;
            .searchForm {
                // box-shadow: var(--default-box-shadow);
                padding: 8px;
                display: flex;
                align-items: center;
                height: 50px;

                input {
                    font-size: 1.6rem;
                    font-weight: 500;
                    border: none;
                    color: black;
                    outline: none;
                    margin-left: 16px;

                    &::placeholder {
                        color: black;
                    }
                }
            }
        }
        .userChat {
            padding: 10px;
            display: flex;
            align-items: center;
            gap: 10px;
            color: black;
            cursor: pointer;
            border-bottom: 1px solid #d9d9d9;

            &:hover {
                background-color: #d9d9d9;
            }

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
            }

            .userChatInfo {
                width: 100%;
                &.usserChatInfoSearch {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 10px;
                    .iconChat {
                        font-size: 20px;
                        color: lightgray;
                    }
                }

                span {
                    font-size: 20px;
                    font-weight: 400;
                }

                p {
                    font-size: 14px;
                    color: rgba(0, 0, 0, 0.422);
                }
            }
        }
    }
    .chat {
        flex: 2;
        &.chatClient {
            // border-left: 1px solid #d9d9d9;
        }
        &.chatModal {
            position: relative;
        }
        &.chatId {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .chatInfo {
            height: 50px;
            background-color: var(--primary-color);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px;
            color: rgba(255, 255, 255, 0.697);

            .fullname {
                color: var(--white-color);
            }

            .call-and-status {
                display: flex;
                align-items: center;

                .call-icon {
                    cursor: pointer;
                }
            }

            .status {
                display: flex;
                align-items: center;

                .icon {
                    font-size: 3rem;
                }

                &.online {
                    .icon {
                        color: #25d125;
                        font-weight: 600;
                    }

                    span {
                        color: var(--white-color);
                    }
                }
            }

            .backHome {
                &:hover {
                    color: white;
                }
            }
            &.chatInfoClient {
                display: none;
            }
        }

        .chatIcons {
            display: flex;
            gap: 10px;
            &:hover {
                color: white;
            }

            img {
                height: 24px;
                cursor: pointer;
            }
        }

        .messages {
            background-color: #ffffff;
            padding: 10px;
            height: calc(100% - 100px);
            overflow-y: scroll;
            // border-left: 2.5px solid #d9d9d9;
            border-bottom: 2.5px solid #d9d9d9;

            .date-messages {
                text-align: center;
                font-size: 1.6rem;
                font-weight: 600;
                border-bottom: 1px solid #ccc;
                line-height: 0.1em;
                margin: 10px 0 20px;

                span {
                    background: #fff;
                    padding: 0 10px;
                }
            }

            &.messagesClient {
                height: calc(100% - 50px);
            }

            .message {
                display: flex;
                gap: 15px;
                margin-bottom: 15px;
                .onlineInfo {
                    position: relative;
                    display: flex;

                    .onlineStatus {
                        right: 0;
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: green;
                        border: 2px solid white;
                    }
                    .offlineStatus {
                        right: 0;
                        position: absolute;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: red;
                        border: 2px solid white;
                    }
                }

                .imgInfo {
                    display: flex;
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                }
                .messageContent {
                    max-width: 80%;
                    display: flex;
                    flex-direction: column;
                    padding-top: 5px;
                    gap: 10px 20px;

                    .moment {
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 15px;

                        color: #a8a8a8;
                    }
                    p {
                        background: #ffffff;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 0.7px 1px rgba(0, 0, 0, 0.25);
                        border-radius: 4px;
                        color: #333333;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 19px;
                        background-color: white;
                        padding: 5px 15px;
                        max-width: max-content;
                    }

                    img {
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
                        border-radius: 4px;
                        width: 50%;
                    }
                    video {
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 2px 2px rgba(0, 0, 0, 0.25);
                        border-radius: 4px;
                        width: 50%;
                    }
                }
                &.owner {
                    flex-direction: row-reverse;

                    .messageContent {
                        align-items: flex-end;
                        p {
                            background: #1e62af;
                            border-radius: 4px;
                            color: #ffffff;
                        }
                    }
                }
            }
        }

        .input {
            height: 50px;
            background-color: white;
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            input {
                width: 100%;
                border: none;
                outline: none;
                color: #2f2d52;
                font-size: 18px;

                &::placeholder {
                    font-style: normal;
                    font-weight: 500;
                    font-size: 19px;
                    line-height: 22px;
                    color: #a8a8a8;
                }
            }

            .send {
                display: flex;
                align-items: center;
                gap: 10px;

                label {
                    height: 24px;
                }
                .icon {
                    color: #a8a8a8;
                    font-size: 24px;
                    cursor: pointer;
                }

                button {
                    border: none;
                    padding: 10px 15px;
                    color: var(--white-color);
                    background: #1e62af;
                    border-radius: 4px;
                    font-weight: bold;
                    font-size: 14px;
                    cursor: pointer;

                    &[disabled] {
                        color: rgba(255, 255, 255, 0.697);
                    }

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
}
