.pagination-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);

    .pagination-item {
        padding: 0 12px;
        height: 32px;
        text-align: center;
        margin: auto 4px;
        color: rgba(0, 0, 0, 0.87);
        display: flex;
        align-items: center;
        letter-spacing: 0.01071em;
        border-radius: var(--default-border-radius);
        line-height: 1.43;
        font-size: 1.4rem;
        min-width: 32px;
        background-color: var(--primary-color);
        cursor: pointer;

        &.dots:hover {
            background-color: transparent;
            cursor: default;
        }

        &:hover .pagination-btn {
            opacity: 0.6;
        }

        &.selected {
            cursor: default;
            background-color: var(--primary-active-color);
        }

        &.selected:hover {
            opacity: 1;
        }

        .prev-btn,
        .next-btn {
            cursor: pointer;
            color: var(--white-color);
        }

        .pagination-btn {
            color: var(--white-color);
            font-weight: 500;
            display: block;
            margin: auto;

            &.actived {
                background-color: var(--primary-active-color);
                color: var(--primary-color);
                cursor: default;
                opacity: 1;
            }
        }

        .arrow {
            &::before {
                position: relative;
                /* top: 3pt; Uncomment this to lower the icons as requested in comments*/
                content: '';
                /* By using an em scale, the arrows will size with the font */
                display: inline-block;
                width: 0.4em;
                height: 0.4em;
                border-right: 0.12em solid rgba(0, 0, 0, 0.87);
                border-top: 0.12em solid rgba(0, 0, 0, 0.87);
            }

            &.left {
                transform: rotate(-135deg) translate(-50%);
            }

            &.right {
                transform: rotate(45deg);
            }
        }

        &:hover {
            opacity: 0.6;
        }

        &.disabled {
            pointer-events: none;

            .arrow::before {
                border-right: 0.12em solid rgba(0, 0, 0, 0.43);
                border-top: 0.12em solid rgba(0, 0, 0, 0.43);
            }

            &:hover {
                background-color: transparent;
                cursor: default;
            }
        }
    }
}
