.wrapper {
    position: relative;

    .content {
        .message {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #d01515;
            text-align: center;
        }
    }
    button {
        &:hover {
            opacity: 0.8;
        }
    }
}
.search {
    display: flex;
    justify-content: flex-end;

    .search-box {
        display: flex;
        height: 36px;
        border-radius: var(--default-border-radius);
        background: var(--search-filter-background-color);
        padding: 8px 12px;
        color: #8f9bba;
        font-size: 1.4rem;
        input {
            background: transparent;
        }

        button {
            background-color: transparent;
            cursor: pointer;
        }

        .search-icon {
            margin-right: 12px;
            color: #2b3674;
            font-size: 1.8rem;
        }
    }
}

.list-reports {
    .rp {
        position: relative;
        display: flex;
        flex-direction: column;
        border-spacing: 2px 8px;
        box-shadow: var(--default-box-shadow);
        border-radius: var(--default-border-radius);
        margin: 10px 5px;
        padding: 10px;
        label {
            color: var(--primary-color);
            font-weight: 600;
            display: block;
            margin: 10px 0;
            font-size: 1.8rem;
        }
        .photos {
            display: flex;
            img {
                width: 15%;
                height: 80px;
                margin: 0 8px;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        p {
            margin: 8px 0 30px;
            display: block;
        }
        a {
            margin-bottom: 6px;
            position: absolute;
            right: 0;
            bottom: 0;
            margin: 0 10px 10px 0;
            z-index: 2;
            .btn-info {
                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--primary-color);
                border-radius: var(--default-border-radius);
                width: 140px;
                font-size: 1.4rem;
                cursor: pointer;
                color: white;
            }
        }
    }
}

.icon {
    vertical-align: text-bottom;
    margin-left: 5px;
}

#photo {
    border-radius: 0;
    display: block;
    width: 60%;
    max-height: 800px;
    margin: 0 auto;
}
.closeBtn {
    color: white;
    background: none;
    font-size: 3.2rem;
    float: right;
    cursor: pointer;
}
