.wrapper {
    height: 100%;
    position: relative;
    .content {
        padding-top: 3%;
    }
    button {
        &:hover {
            opacity: 0.8;
        }
    }
}
.search {
    position: absolute;
    align-items: center;
    right: 0;
    display: inline-block;
    z-index: 2;
    .search-box {
        display: flex;
        height: 36px;
        border-radius: var(--default-border-radius);
        background: var(--search-filter-background-color);
        padding: 8px 12px;
        color: #8f9bba;
        font-size: 1.4rem;
        input {
            background: transparent;
        }
        .search-icon {
            margin-right: 11px;
            color: #2b3674;
            font-size: 1.8rem;
        }
    }
}

.list-reports {
    // margin-top: 42px;
    .rp {
        position: relative;
        display: block;
        label {
            color: var(--primary-color);
            font-weight: 600;
            display: block;
            margin: 10px 0;
            font-size: 1.8rem;
        }
        .photos {
            display: flex;
            img {
                width: 15%;
                height: 80px;
                margin: 0 8px;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        p {
            margin-top: 8px;
            display: block;
        }
        a {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 6px;
            .btn-info {
                cursor: pointer;
                display: block;
                background-color: var(--primary-color);
                border-radius: var(--default-border-radius);
                width: 150px;
                height: 50px;
                font-size: 1.5rem;
                color: white;
            }
        }
    }
}

.icon {
    vertical-align: text-bottom;
    margin-left: 5px;
}

#photo {
    border-radius: 0;
    display: block;
    width: 60%;
    max-height: 800px;
    margin: 0 auto;
}
.closeBtn {
    color: white;
    background: none;
    font-size: 3.2rem;
    float: right;
    cursor: pointer;
}
