.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    .title-and-back {
        margin: 16px 0;
        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
            width: fit-content;
        }
    }
    .voucher {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 10% auto 0;
        font-size: 2rem;
        font-weight: 500;
        .row {
            margin-bottom: 20px;
            label {
                width: 200px;
                display: inline-block;
                vertical-align: top;
            }
            input {
                background-color: #eaeaea;
                padding: 8px;
                border-radius: var(--default-border-radius);
                width: calc(100% - 200px);
            }
            textarea {
                resize: none;
                width: calc(100% - 200px);
                background-color: #eaeaea;
                border: none;
                padding: 8px;
            }
        }
        button {
            cursor: pointer;
            display: block;
            justify-self: center;
            margin: 28px auto 0;
            width: 180px;
            padding: 12px;
            background-color: #2c9e2a;
            color: white;
            font-size: 1.6rem;
            &:hover {
                opacity: 0.8;
            }
            .icon {
                margin-right: 5px;
                vertical-align: bottom;
            }
        }
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        .icon {
            vertical-align: text-bottom;
            margin-right: 10px;
        }
    }
    .btn-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .modal {
        align-items: center;
        margin-bottom: 15px;
        text-align: center;
        .header {
            padding: 16px;
            background-color: var(--primary-color);
            color: var(--white-color);
            text-align: center;
        }
        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin: 20px 0 0;
        }
        select {
            width: 40%;
            padding: 10px;
            margin: 20px 0 30px;
            option {
                padding: 10px;
                background-color: #2c8415;
            }
        }
        textarea {
            margin: 16px 0;
            resize: none;
            width: 80%;
        }
    }

    .btn-warn {
        cursor: pointer;
        background-color: #ca1414;
        border-radius: var(--default-border-radius);
        width: 150px;
        height: 50px;
        font-size: 1.5rem;
        color: white;
    }

    .btn-confirm {
        cursor: pointer;
        background-color: #2c8415;
        border-radius: var(--default-border-radius);
        width: 150px;
        height: 50px;
        font-size: 1.5rem;
        color: white;
    }
}
