.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    .title-and-back {
        margin: 16px 0;
        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
            width: fit-content;
        }
    }

    .title {
        text-align: center;
        color: var(--primary-color);
    }

    .message-frame {
        padding: 0 80px;
    }

    .voucher {
        display: flex;
        flex-direction: column;
        font-size: 2rem;
        font-weight: 500;

        .row {
            display: flex;
            margin: 16px;

            &:not(.note) {
                align-items: center;
            }

            label {
                min-width: 160px;
                font-size: 1.6rem;
                font-weight: 500;
                color: var(--primary-color);
            }
            input {
                flex: 1;
                background-color: var(--white-color);
                padding: 12px 16px;
                border: 1px solid var(--primary-color);
                border-radius: var(--default-border-radius);
            }
            textarea {
                flex: 1;
                resize: none;
                background-color: var(--white-color);
                border: 1px solid var(--primary-color);
                border-radius: var(--default-border-radius);
                outline: none;
                padding: 12px 16px;
            }
        }
        button {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto;
            margin-top: 20px;
            cursor: pointer;
            width: 160px;
            padding: 12px;
            background-color: green;
            border-radius: var(--default-border-radius);
            color: white;
            font-size: 1.6rem;

            &:hover {
                opacity: 0.6;
            }
            .icon {
                margin-right: 8px;
            }
        }

        .error {
            margin-left: 180px;
        }
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 8px;

        .icon {
            vertical-align: text-bottom;
            margin-right: 8px;
        }
    }
    .btn-wrapper {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .modal {
        align-items: center;
        margin-bottom: 15px;
        text-align: center;
        .header {
            padding: 16px;
            background-color: var(--primary-color);
            color: var(--white-color);
            text-align: center;
        }
        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin: 20px 0 0;
        }

        .error {
            margin-left: 80px;
        }
        select {
            width: 40%;
            padding: 10px;
            margin: 20px 0 30px;
            option {
                padding: 10px;
                background-color: #2c8415;
            }
        }
        textarea {
            padding: 12px 16px;
            margin: 8px 0;
            resize: none;
            outline: none;
            width: 100%;
        }
    }

    .btn-warn {
        cursor: pointer;
        background-color: red;
        border-radius: var(--default-border-radius);
        width: 150px;
        height: 50px;
        font-size: 1.5rem;
        color: white;
        margin: 0 4px;
    }

    .btn-confirm {
        cursor: pointer;
        background-color: green;
        border-radius: var(--default-border-radius);
        width: 150px;
        height: 50px;
        font-size: 1.5rem;
        color: white;
        margin: 0 4px;
    }
}
