.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    .title-and-back {
        margin: 16px 0;
        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
            width: fit-content;
        }
    }
}
