.service-item {
    width: 320px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--white-color);
    border-radius: 16px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);

    &.main {
        background-color: var(--primary-color);
        .service-content {
            color: var(--white-color);
        }
    }

    .service-icon {
        font-size: 4.8rem;
        color: #24306e;
    }

    .service-content {
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
    }
}
