.wrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .tab-list {
        display: flex;
        list-style: none;
        margin-bottom: 4px;
        padding: 0;

        .tab {
            border: 2px solid #ffffff00;
            box-sizing: border-box;
            color: var(--primary-color);
            cursor: pointer;
            display: inline-block;
            padding: 8px 16px;
            text-align: center;
            font-size: 2rem;
            font-weight: 600;

            &.active {
                color: black;
                border-bottom-color: var(--primary-color);
                font-weight: bold;
            }

            @media (min-width: 1201px) and (max-width: 1920px) {
                font-size: 1.6rem;
                font-weight: 500;
            }
        }
    }
}
