.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    width: 100%;
    height: 100%;
    box-shadow: var(--default-box-shadow);
    border-radius: var(--default-border-radius);
    cursor: pointer;

    &:hover {
        transform: translateY(-4px);
        transition: transform 0.1s ease-in-out;
    }

    .avatar {
        margin-bottom: 16px;
        width: 100%;
        height: 164px;
        border-radius: var(--default-border-radius);

        .default {
            display: flex;
            width: 100%;
            height: 100%;
            background-color: var(--primary-color);
            border-radius: var(--default-border-radius);

            .icon {
                margin: auto;
                width: 80%;
                height: 80%;
                color: var(--white-color);
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
        @media only screen and (min-width: 1201px) and (max-width: 1920px) {
            height: 114px;
        }
    }

    .fullname,
    .gender,
    .age {
        display: flex;
        align-items: center;

        span {
            font-size: 1.2rem;
            font-weight: 500;
            color: var(--text-color);
        }
    }

    .fullname span {
        color: var(--text-color);
        font-size: 1.4rem;
        font-weight: 600;
    }

    .gender {
        span {
            color: green;
            font-weight: 600;
        }
        .male {
            color: #0a66e0;
        }
        .female {
            color: #df156d;
        }
    }

    .age span {
        color: red;
    }
}
