.wrapper {
    .title-and-back {
        .back-link {
            display: flex;
            align-items: center;
            cursor: pointer;
            color: var(--primary-color);
        }
        .title {
            font-size: 3rem;
            font-weight: 500;
            color: var(--primary-color);
            text-align: center;
        }
    }

    .content {
        .image-upload {
            @media (min-width: 1201px) and (max-width: 1920px) {
                margin-top: -12px;
            }

            .action {
                display: flex;
                justify-content: flex-end;

                .add-btn {
                    padding: 12px 16px;
                    width: 160px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: var(--white-color);
                    background-color: green;
                    border-radius: var(--default-border-radius);
                    cursor: pointer;

                    .icon {
                        font-size: 1.6rem;
                        font-weight: 600;
                        margin-right: 4px;
                    }

                    &:hover {
                        opacity: 0.6;
                    }

                    &.disabled {
                        background-color: gray;
                        cursor: pointer;
                        pointer-events: none;
                    }
                }
            }
            .image-list {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 12px;
                margin-top: 16px;

                .image-item {
                    position: relative;
                    width: 338px;
                    height: 224px;
                    border: 1px solid var(--border-color);
                    border-radius: var(--default-border-radius);
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .image-action {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: none;
                        align-items: center;

                        #update-btn,
                        #remove-btn {
                            padding: 16px;
                            font-size: 4rem;
                            font-weight: 600;
                            color: var(--primary-color);
                            background-color: transparent;
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        opacity: 0.8;

                        .image-action {
                            display: flex;
                        }
                    }

                    @media (min-width: 1201px) and (max-width: 1920px) {
                        width: 208px;
                        height: 124px;
                    }
                }
            }
        }

        #save-btn {
            display: flex;
            margin: auto;
            margin-top: 16px;
            padding: 12px 16px;
            width: 120px;
            border-radius: var(--default-border-radius);
            background-color: green;
            color: var(--white-color);
            cursor: pointer;

            span {
                margin: auto;
            }

            &:hover {
                opacity: 0.6;
            }
        }
    }
}
