.wrapper {
    margin-top: var(--default-navbar-height);
    min-height: var(--default-content-min-height);
    position: relative;
    margin-bottom: 20px;
    .title-and-back {
        margin: 16px auto;
        max-width: var(--default-layout-max-width);
        display: flex;
        .back-link {
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            display: flex;
            align-items: center;
            color: var(--primary-color);
            width: fit-content;
            z-index: 2;
            margin-top: 16px;
        }
        .header {
            margin-top: 16px;
            position: absolute;
            left: 0;
            right: 0;
            text-align: center;
            color: var(--primary-color);
            display: inline-block;
        }
    }

    .content {
        max-width: var(--default-layout-max-width);
        margin: auto;
        .search {
            max-width: var(--default-layout-max-width);
            margin: auto;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 16px;

            .search-box {
                display: flex;
                height: 36px;
                border-radius: var(--default-border-radius);
                background: var(--search-filter-background-color);
                padding: 8px 12px;
                color: #8f9bba;
                font-size: 1.4rem;
                input {
                    background: transparent;
                }

                button {
                    background-color: transparent;
                    cursor: pointer;
                }
                .search-icon {
                    margin-right: 12px;
                    color: #2b3674;
                    font-size: 1.8rem;
                }
            }
        }

        .course-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 12px;
            margin-bottom: 80px;

            .course-item {
                position: relative;
                width: 388px;
                box-shadow: var(--default-box-shadow);
                padding: 16px;
                border-radius: var(--default-border-radius);

                .card {
                    .card-content {
                        display: flex;
                        align-items: center;
                        margin: 4px 0;

                        .card-title {
                            min-width: 160px;
                            color: var(--primary-color);
                        }
                    }
                }

                .action {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                    #view-detail-link {
                        color: var(--primary-color);
                        text-decoration: underline !important;
                    }
                }
            }
        }

        .course-empty {
            margin-top: 32px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .message {
                color: red;
            }

            .find-link {
                text-decoration: underline !important;
                color: var(--primary-color);
            }
        }
    }
}
