.wrapper {
    padding-top: 16px;
    button {
        &:hover {
            opacity: 0.8;
        }
    }
}
#register-form {
    width: 80%;
    margin: auto;
    label {
        font-size: 1.8rem;
    }
    input {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0 20px;
        border: 1px solid rgba(0, 0, 0, 0.3);
        border-radius: var(--default-border-radius);
        text-align: start;
        font-size: 1.4rem;
        background-color: rgba(173, 173, 173, 0.1);
    }
    .pwd {
        display: flex;
        justify-content: space-between;
    }
    .col2 {
        display: inline-block;
        width: 45%;
    }
    #submit-btn {
        cursor: pointer;
        font-size: 1.5rem;
        display: block;
        margin: 2% auto 0;
        padding: 15px 35px;
        color: white;
        border-radius: var(--default-border-radius);
        background-color: #2e9d2c;
        text-align: center;
    }
    .note {
        width: 100%;
        resize: none;
    }
}
@media only screen and (max-width: 768px) {
    #register-form {
        width: 90%;
        margin: 10% auto 5%;
    }

    .col2 {
        width: 100%;
    }
}

@media only screen and (max-width: 480px) {
    label {
        font-size: 1.5rem;
    }

    input {
        font-size: 1.2rem;
    }

    #submit-btn {
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1200px) {
    #register-form {
        width: 60%;
        margin: 2% auto;
    }
}
