.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    .title-and-back {
        margin: 16px 0 8px;
        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
            width: fit-content;
        }
    }
    h3 {
        text-align: center;
        span {
            color: #ca1414;
        }
    }
    button {
        &:hover {
            opacity: 0.8;
        }
    }
}

.content {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-bottom: 10px;
    .profile {
        flex: 0 0 25%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2px;
        .avatar {
            display: flex;
            width: 100%;
            height: 40%;
            background-color: var(--primary-color);
            border-radius: 4px;

            .default {
                margin: auto;
                width: 80%;
                height: 50%;
                color: var(--white-color);
            }

            .image {
                width: 100%;
                height: 100%;
            }
        }

        .name {
            margin-top: 16px;
            color: var(--text-color);
            font-size: 2.2rem;
            font-weight: 600;
        }

        .male,
        .female,
        .other {
            font-size: 1.5rem;
            font-weight: 500;
        }

        .male {
            color: #0a66e0;
        }
        .female {
            color: #df156d;
        }

        .other {
            color: green;
        }

        .age {
            font-size: 1.5rem;
            font-weight: 500;
            // color: red;
        }
    }
    .certificates {
        margin-left: 30px;
        width: 100%;
        margin-bottom: 3%;
        border-left: 1px solid rgb(196, 196, 196);
        h3 {
            color: var(--primary-color);
        }
        .img-wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            img {
                margin: 10px;
                width: 25%;
                cursor: pointer;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }
}
.status {
    p {
        position: absolute;
        bottom: 0;
        text-align: center;
        width: 100%;
        font-weight: 600;
        font-size: 2rem;
    }
    .accepted {
        color: #2c8415;
    }
    .denied {
        color: #ca1414;
    }
}
.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .icon {
        vertical-align: text-bottom;
        margin-right: 10px;
    }
}
.btn-wrapper {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

#photo {
    border-radius: 0;
    display: block;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}
.closeBtn {
    color: white;
    background: none;
    font-size: 3.2rem;
    float: right;
    cursor: pointer;
}

.modal {
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    .modal-header {
        background-color: var(--primary-color);
        color: rgba(255, 255, 255, 0.6);
        padding: 14px;
    }
    textarea {
        resize: none;
        max-width: 80%;
    }
    p {
        margin: 3% auto;
        font-size: 2.6rem;
        text-align: center;
    }
}

.btn-warn {
    cursor: pointer;
    background-color: #ca1414;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}

.btn-confirm {
    cursor: pointer;
    background-color: #2c8415;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}
