.wrapper {
    flex: 1;
    .content {
        height: 100%;

        .image-list {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 12px;

            .item {
                position: relative;
                width: 338px;
                height: 224px;
                border: 1px solid var(--border-color);
                border-radius: var(--default-border-radius);
                cursor: pointer;

                img {
                    width: 100%;
                    height: 100%;
                }

                @media (min-width: 1201px) and (max-width: 1920px) {
                    width: 196px;
                    height: 120px;
                }
            }
        }
        .empty {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .message {
                color: red;
            }
        }
    }
}

#photo {
    border-radius: 0;
    display: block;
    max-width: 650px;
    width: 60%;
    height: 100%;
    margin: 0 auto;
}
.closeBtn {
    color: white;
    background: none;
    font-size: 3.2rem;
    float: right;
    cursor: pointer;
}
