.wrapper {
    position: relative;
    min-height: calc(94vh - var(--default-navbar-height));
    .content {
        padding-top: 3%;
    }
    .message {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: #d01515;
        text-align: center;
    }
    .search {
        display: flex;
        justify-content: flex-end;

        .search-box {
            display: flex;
            height: 36px;
            border-radius: var(--default-border-radius);
            background: var(--search-filter-background-color);
            padding: 8px 12px;
            color: #8f9bba;
            font-size: 1.4rem;
            input {
                background: transparent;
            }

            button {
                background-color: transparent;
                cursor: pointer;
            }

            .search-icon {
                margin-right: 12px;
                color: #2b3674;
                font-size: 1.8rem;
            }
        }
    }
    .tb-coaches {
        table-layout: auto;
        width: 100%;
        text-align: center;
        border-spacing: 0 8px;

        .header-row {
            th {
                text-align: center;
                font-weight: 600;
                font-size: 1.4rem;
                color: #909090;
                padding: 8px 16px;
            }
        }

        .content-row {
            box-shadow: var(--default-box-shadow);
            border-radius: var(--default-border-radius);

            td {
                color: #24306e;
                font-size: 1.4rem;
                font-weight: 500;
                padding: 8px 16px;
                text-align: center;

                &.name {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;

                    .avatar {
                        width: 32px;
                        height: 32px;
                        margin-right: 16px;

                        img {
                            width: 100%;
                            height: 100%;
                            border-radius: 50%;
                        }
                    }
                }
            }
        }

        .action-btn {
            text-align: right !important;

            button {
                padding: 8px 16px;
                cursor: pointer;
                border-radius: var(--default-border-radius);
                font-size: 1.5rem;
                color: white;

                &:hover {
                    opacity: 0.6;
                }
            }

            #btn-detail {
                background-color: #1a97cc;
                margin-right: 8px;
                width: max-content;
            }
        }
    }

    button {
        &:hover {
            opacity: 0.8;
        }
    }
}
.btn-info {
    cursor: pointer;
    background-color: var(--primary-color);
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}

.icon {
    vertical-align: text-bottom;
    margin-left: 5px;
}
