.wrapper {
    .request-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        margin-bottom: 80px;

        .request-item {
            position: relative;
            width: 388px;
            box-shadow: var(--default-box-shadow);
            padding: 16px;
            border-radius: var(--default-border-radius);

            .card {
                .card-content {
                    display: flex;
                    align-items: center;
                    margin: 4px 0;

                    .card-title {
                        min-width: 160px;

                        &.coach {
                            color: #0c21e0;
                        }

                        &.course-name {
                            color: #1da032;
                        }

                        &.duration {
                            color: #c33333;
                        }

                        &.price {
                            color: #1a97cc;
                        }
                    }
                }
            }

            .action {
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 16px;

                #view-detail-btn {
                    flex: 0 0 50%;
                    padding: 8px;
                    margin: 0 4px;
                    border-radius: var(--default-border-radius);
                    color: var(--white-color);
                    background-color: red;
                    font-size: 1.6;
                    font-weight: 500;
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }

    //Modal
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .body {
        padding: 32px 64px;

        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 32px;
        }
        .reason {
            width: 100%;
            resize: none;
            padding: 8px 16px;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
    .request-empty {
        h2 {
            text-align: center;
            color: red;
            font-size: 2rem;
        }
    }
}
