.wrapper {
    margin: var(--default-navbar-height) auto 5%;

    h1 {
        padding-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    .content {
        display: flex;
        margin: auto;
        width: 80%;
        padding: 10px;
    }
}
.coach-info {
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 2%;
    img {
        display: block;
        margin: 5% auto;
        width: 90%;
    }
    .label {
        padding: 1% 5%;
        display: inline-block;
        width: 45%;
    }
}
.tabs {
    margin-left: 30px;
    width: 70%;
}
