.wrapper {
    background-image: url('../../assets/images/service-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 5%;
    h1 {
        margin-top: var(--default-navbar-height);
        padding-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }
    .content {
        display: flex;
        margin: auto;
        width: 80%;
        padding: 10px;
    }
}
.coach-info {
    border-radius: 10px;
    background-color: white;
    padding-bottom: 2%;
    img {
        display: block;
        margin: 5% auto;
        width: 90%;
    }
    label {
        padding: 1% 5%;
        display: inline-block;
        width: 45%;
    }
}
.tabs {
    margin-left: 30px;
    width: 70%;
}
