.wrapper {
    flex: 1;
    .content {
        user-select: none;

        img {
            width: 240px;
            margin: 0 4px;
            border-radius: var(--default-border-radius);
        }

        video {
            width: 240px;
            margin: 0 4px;
            border-radius: var(--default-border-radius);
        }

        .empty {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .message {
                color: red;
            }
        }
    }
}
