.wrapper {
    .day-list {
        .day-item {
            display: flex;
            flex-direction: column;

            &:not(:last-child) {
                border-bottom: 1px solid #333;
            }

            &:hover {
                background-color: var(--light-white-color);
            }

            .day-number {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 0;
                cursor: pointer;

                &:hover {
                    background-color: #f4f6f6;
                }

                .number {
                    display: flex;
                    align-items: center;

                    .title {
                        color: var(--primary-color);
                    }

                    .completed {
                        color: green;
                        margin-left: 8px;
                    }
                }
            }

            .day-content {
                padding: 0 64px;
                margin-bottom: 32px;

                table {
                    width: 100%;
                }

                table,
                th,
                td {
                    border: 1px solid #ccc;
                    border-collapse: collapse;
                }

                th {
                    text-align: left;
                    vertical-align: top;
                }

                th,
                td {
                    padding: 8px;
                    text-align: left;
                }

                .file {
                    cursor: pointer;

                    .file-icon {
                        margin-right: 8px;
                    }
                    &:hover {
                        .file-name {
                            text-decoration: underline;
                        }
                    }
                }

                .image-list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 12px;

                    .image-frame {
                        width: 200px;
                        height: 120px;
                        border: 1px solid #333;
                        border-radius: var(--default-border-radius);
                        img {
                            width: 100%;
                            height: 100%;
                            cursor: pointer;
                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }

                .video-list {
                    display: grid;
                    grid-template-columns: repeat(4, 1fr);
                    gap: 12px;

                    .video-frame {
                        width: 200px;
                        height: 120px;
                        border: 1px solid #333;
                        border-radius: var(--default-border-radius);

                        video {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
            }
        }
    }
}
