.wrapper {
    position: relative;
    display: flex;
    flex-direction: column;

    .course-empty {
        margin: auto;

        h2 {
            color: red;
        }
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #add-btn {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        background-color: green;
        width: 160px;
        color: var(--white-color);
        border-radius: var(--default-border-radius);
        cursor: pointer;

        .icon {
            font-size: 2rem;
            font-weight: 600;
            margin-right: 8px;
        }

        span {
            font-size: 1.6rem;
            font-weight: 600;
        }

        &:hover {
            opacity: 0.6;
        }
    }

    .search {
        max-width: var(--default-layout-max-width);
        display: flex;
        justify-content: flex-end;

        .search-box {
            display: flex;
            height: 36px;
            border-radius: var(--default-border-radius);
            background: var(--search-filter-background-color);
            padding: 8px 12px;
            color: #8f9bba;
            font-size: 1.4rem;
            input {
                background: transparent;
            }
            button {
                background-color: transparent;
                cursor: pointer;
            }

            .search-icon {
                margin-right: 12px;
                color: #2b3674;
                font-size: 1.8rem;
            }
        }
    }

    .course-list {
        margin-top: 16px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;

        .course-item {
            position: relative;

            .item-action {
                position: absolute;
                bottom: 0;
                right: 8px;

                #edit-btn,
                #delete-btn {
                    font-size: 2rem;
                    font-weight: 500;
                    background-color: transparent;
                    cursor: pointer;
                    margin: 0 4px;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                #edit-btn {
                    color: green;
                }

                #delete-btn {
                    color: red;
                }
            }
        }
    }

    //Modal
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .body {
        padding: 32px 64px;

        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 32px;
        }

        .image {
            width: 400px;
            height: 260px;
            border-radius: var(--default-border-radius);
            margin: auto;
            margin-bottom: 32px;

            img {
                width: 100%;
                height: 100%;
                border-radius: var(--default-border-radius);
            }
        }

        .modal-action {
            display: flex;
            align-items: center;
            justify-content: center;

            #agree-btn,
            #cancel-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                padding: 16px 32px;
                margin: 0 8px;
                color: var(--white-color);
                font-size: 1.6rem;
                font-weight: 500;
                border-radius: var(--default-border-radius);
                cursor: pointer;

                span {
                    margin-left: 8px;
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            #agree-btn {
                background-color: green;
            }

            #cancel-btn {
                background-color: red;
            }
        }
    }
}
