.wrapper {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;

    .course-empty {
        margin: auto;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #add-btn {
        padding: 8px 16px;
        display: flex;
        align-items: center;
        background-color: green;
        color: var(--white-color);
        border-radius: var(--default-border-radius);
        cursor: pointer;

        .icon {
            font-size: 2rem;
            font-weight: 600;
            margin-right: 8px;
        }

        span {
            font-size: 1.6rem;
            font-weight: 600;
        }

        &:hover {
            opacity: 0.6;
        }
    }

    .course-list {
        margin-top: 32px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 12px;

        .course-item {
            position: relative;

            .item-action {
                position: absolute;
                bottom: 0;
                right: 8px;

                #edit-btn,
                #delete-btn {
                    font-size: 2rem;
                    font-weight: 500;
                    background-color: transparent;
                    cursor: pointer;
                    margin: 0 4px;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                #edit-btn {
                    color: green;
                }

                #delete-btn {
                    color: red;
                }
            }
        }
    }

    //Modal
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .body {
        padding: 32px 64px;

        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 32px;
        }

        #add-form,
        #edit-form {
            .input-group {
                display: flex;
                align-items: center;
                margin: 16px 0;

                &.description {
                    align-items: unset;

                    label {
                        margin-top: 8px;
                    }
                }

                &.price-edit {
                    position: relative;

                    .unit {
                        position: absolute;
                        right: 16px;
                    }
                }

                label {
                    font-size: 2rem;
                    font-weight: 500;
                    color: #1a97cc;
                    min-width: 160px;
                }

                input,
                textarea {
                    padding: 12px 16px;
                    border: 1px solid var(--primary-color);
                    border-radius: var(--default-border-radius);
                    flex: 1;
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #000;
                }

                textarea {
                    outline: none;
                    height: 140px;
                }
            }

            .error {
                margin-left: 160px;
            }
        }
        .modal-action {
            display: flex;
            align-items: center;
            justify-content: center;

            #agree-btn,
            #cancel-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                padding: 16px 32px;
                margin: 0 8px;
                color: var(--white-color);
                font-size: 1.6rem;
                font-weight: 500;
                border-radius: var(--default-border-radius);
                cursor: pointer;

                span {
                    margin-left: 8px;
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            #agree-btn {
                background-color: green;
            }

            #cancel-btn {
                background-color: red;
            }
        }
    }
}
