.wrapper {
    flex: 1;
    .content {
        height: 100%;
        .search {
            margin: auto;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 8px;

            .search-box {
                display: flex;
                height: 36px;
                border-radius: var(--default-border-radius);
                background: var(--search-filter-background-color);
                padding: 8px 12px;
                color: #8f9bba;
                font-size: 1.4rem;
                input {
                    background: transparent;
                }
                .search-icon {
                    margin-right: 11px;
                    color: #2b3674;
                    font-size: 1.8rem;
                }
            }
        }

        .course-list {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 12px;

            .course-item {
                position: relative;
                height: 80px;

                .item-action {
                    position: absolute;
                    bottom: 0;
                    right: 16px;

                    #view-detail-btn {
                        background-color: transparent;
                        color: var(--primary-color);
                        cursor: pointer;
                    }
                }
            }
        }

        .course-empty {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .message {
                color: red;
            }

            .find-link {
                text-decoration: underline !important;
                color: var(--primary-color);
            }
        }
    }
}
