.wrapper {
    display: flex;
    height: 100vh;

    .container {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 32px;

        .header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 4px 0 32px 0;

            .welcome {
                font-size: 3rem;
                font-weight: 600;
                color: var(--text-color);

                .role {
                    color: var(--primary-color);
                }
            }

            .info {
                display: flex;
                align-items: center;

                .name {
                    margin-right: 8px;
                    color: var(--primary-color);
                    font-size: 1.6rem;
                    font-weight: 600;
                }

                .avatar-wrapper {
                    color: var(--primary-color);
                    width: 32px;
                    height: 32px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;

                    .avatar {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }

        .content {
            padding: 16px 32px;
            flex-grow: 1;
            box-shadow: var(--default-box-shadow);
            border-radius: var(--default-border-radius);
        }
    }
}
