.wrapper {
    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        padding: 16px 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: var(--default-box-shadow);
        background-color: var(--white-color);
        height: 60px;

        .logo {
            display: flex;
            align-items: center;

            img {
                width: 20%;
            }
            span {
                font-size: 2rem;
                font-weight: 500;
                margin-left: 8px;
                color: var(--text-color);
            }
        }
        .info {
            display: flex;
            align-items: center;

            .name {
                margin-right: 8px;
                color: var(--primary-color);
                font-size: 1.6rem;
                font-weight: 600;
            }

            .avatar-wrapper {
                color: var(--primary-color);
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                align-items: center;

                .avatar {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
    }

    .container {
        margin-top: calc(60px + 16px);
        background-color: var(--light-white-color);
        margin-left: var(--default-sidebar-width);
        padding-right: 32px;
        padding-bottom: 16px;

        .content {
            padding: 16px 32px;
            box-shadow: var(--default-box-shadow);
            min-height: calc(100vh - 60px - 16px - 16px);
        }
    }
}
