.wrapper {
    height: var(--default-footer-height);
    background-color: var(--primary-color);

    .content {
        margin: auto;
        height: 100%;
        max-width: var(--default-layout-max-width);
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        color: var(--white-color);
        padding: 8px 0;

        p {
            font-size: 1.2rem;
            font-weight: 300;
        }

        .follow {
            ul {
                display: flex;
                align-items: center;

                li {
                    margin: 0 8px;
                    img {
                        width: 32px;
                        height: 32px;
                    }
                }
            }
        }
    }
}
