.card {
    padding: 16px;
    box-shadow: var(--default-box-shadow);
    border-radius: var(--default-border-radius);
    position: relative;

    .name {
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-color);
    }

    .price {
        font-size: 1.6rem;
        font-weight: 500;
        color: #1e3cd7;
    }

    .detail-btn {
        position: absolute;
        bottom: 8px;
        right: 8px;
        background-color: unset;
        color: var(--primary-color);
        cursor: pointer;
    }
}
.body {
    padding-bottom: 2%;
    h1,
    h2 {
        align-content: center;
        margin-bottom: 15px;
        text-align: center;
    }
    h1 {
        background-color: var(--primary-color);
        color: rgba(255, 255, 255, 0.6);
        padding: 14px;
    }
    .course-detail {
        border: 1px solid rgba(0, 0, 0, 0.25);
        width: 90%;
        display: flex;
        margin: 18px auto 24px;
        padding: 10px 0 20px;
        flex-direction: column;
        label {
            display: inline-block;
            font-weight: 700;
            font-size: 2rem;
            color: #1a97cc;
            width: 20%;
            margin: 10px 0 10px 20px;
        }
        span {
            display: inline-flex;
            max-width: 75%;
        }
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 25%;
        .icon {
            vertical-align: sub;
            margin-right: 10px;
        }
        .btn-warn {
            cursor: pointer;
            background-color: #ca1414;
            border-radius: var(--default-border-radius);
            width: 150px;
            height: 50px;
            font-size: 1.5rem;
            color: white;
        }

        .btn-confirm {
            cursor: pointer;
            background-color: #2c8415;
            border-radius: var(--default-border-radius);
            width: 150px;
            height: 50px;
            font-size: 1.5rem;
            color: white;
        }
    }
}

 //Edit Modal
 .header{
    padding: 16px;
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
}
.body{
    padding: 32px 64px;

    .title{
        font-size: 3rem;
        font-weight: 600;
        text-align: center;
        margin-bottom: 32px;
    }

    #add-form{
        .input-group{
            display: flex;
            align-items: center;
            margin: 16px 0;

            &.description{
                align-items: unset;

                label{
                    margin-top: 8px;
                }
            }

            label{
                font-size: 2rem;
                font-weight: 500;
                color: #1A97CC;
                min-width: 160px;
            }

            input,
            textarea{
                padding: 12px 16px;
                border: 1px solid var(--primary-color);
                border-radius: var(--default-border-radius);
                flex: 1;
                font-size: 1.6rem;
                font-weight: 500;
                color: #000;
            }

            textarea{
                outline: none;
                height: 140px;
            }
        }

        .error{
            margin-left: 160px;
        }
      
    }
    .modal-action{
        display: flex;
        align-items: center;
        justify-content: center;

        #agree-btn,
        #cancel-btn{
            width: 180px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px 32px;
            margin: 0 8px;
            color: var(--white-color);
            font-size: 1.6rem;
            font-weight: 500;
            border-radius: var(--default-border-radius);
            cursor: pointer;
            
            span{
                margin-left: 8px;
            }

            &:hover{
                opacity: 0.6;
            }
        }

        #agree-btn{
            background-color: green;
        }

        #cancel-btn{
            background-color: red;
        }
    }

    
}
