.wrapper {
    position: relative;

    .content {
        max-width: var(--default-layout-max-width);
        margin: auto;
        height: 100%;
    }

    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: var(--default-navbar-height);
        background-color: rgba(18, 18, 18, 0.4);
        display: flex;
        z-index: 999;

        .navbar-content {
            margin: auto;
            max-width: var(--default-layout-max-width);
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;

            .logo {
                color: var(--white-color);
                font-size: 2rem;
                font-weight: 600;
            }

            .auth-btn {
                button {
                    margin: 0 8px;
                    padding: 12px 16px;
                    border-radius: 4px;
                    width: 120px;
                    color: var(--white-color);
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                #login {
                    background-color: var(--primary-color);
                    border: 1px solid var(--primary-color);
                }

                #register {
                    background-color: transparent;
                    border: 1px solid var(--white-color);
                }
            }
        }
    }
}
