.wrapper {
    height: 100%;
    position: relative;
    .content {
        padding-top: 2%;
        h2 {
            font-size: 2.5rem;
            margin-left: 2%;
            display: inline-block;
        }
    }
}
.search {
    position: absolute;
    align-items: center;
    right: 0;
    display: inline-block;
    .search-box {
        display: flex;
        height: 36px;
        border-radius: var(--default-border-radius);
        background: var(--search-filter-background-color);
        padding: 8px 12px;
        color: #8f9bba;
        font-size: 1.4rem;
        input {
            background: transparent;
        }
        .search-icon {
            margin-right: 11px;
            color: #2b3674;
            font-size: 1.8rem;
        }
    }
}
table {
    table-layout: auto;
    width: 100%;
    margin-top: 3%;
    text-align: center;
    th {
        font-weight: 500;
        font-size: 1.4rem;
        padding: 10px 0;
        color: #909090;
    }

    td {
        width: 100px;
        padding: 10px 0;
        color: #24306e;
        font-size: 1.4rem;
        font-weight: 500;
    }
}
.btn-warn {
    cursor: pointer;
    background-color: #ca1414;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}

.btn-confirm {
    cursor: pointer;
    background-color: #2c8415;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}

.lock-modal {
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    h1 {
        background-color: var(--primary-color);
        color: rgba(255, 255, 255, 0.6);
        padding: 14px;
    }
    p {
        margin: 3% auto;
        font-size: 2.6rem;
        text-align: center;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 25%;
        .icon {
            vertical-align: sub;
            margin-right: 10px;
        }
    }
}
