.wrapper {
    height: 100%;
    position: relative;

    .title {
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-color);
        margin-bottom: 16px;
    }

    .coach-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, auto);
        gap: 12px;
        margin-bottom: 20px;
    }
}
