.wrapper {
    .add-link {
        color: var(--primary-color);
        text-decoration: underline;
    }

    .action {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .file-empty {
        text-align: center;

        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: red;
        }
    }

    //Modal
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .body {
        padding: 32px 64px;

        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 32px;
        }
        .reason {
            width: 100%;
            resize: none;
            padding: 8px 16px;
            font-size: 1.6rem;
            font-weight: 500;
        }

        .modal-action {
            display: flex;
            align-items: center;
            justify-content: center;

            #agree-btn,
            #cancel-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                padding: 16px 32px;
                margin: 0 8px;
                color: var(--white-color);
                font-size: 1.6rem;
                font-weight: 500;
                border-radius: var(--default-border-radius);
                cursor: pointer;

                span {
                    margin-left: 8px;
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            #agree-btn {
                background-color: green;
            }

            #cancel-btn {
                background-color: red;
            }
        }
    }
}
