.wrapper {
    height: 100%;
    position: relative;

    .content {
        .contract-canceled {
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                color: red;
                font-size: 2rem;
                font-weight: 600;
            }

            span {
                font-size: 1.6rem;
                color: var(--primary-color);
                font-size: 600;
            }
        }

        .contract-info {
            .info-column {
                display: flex;
                border-bottom: 1px solid #ccc;
                padding-bottom: 16px;
                margin-top: 16px;

                .info-container {
                    flex: 0 0 50%;

                    &:first-child {
                        border-right: 1px solid #ccc;
                    }
                }
            }

            .info-container {
                padding: 8px;
                &.created-date {
                    border-bottom: 1px solid #ccc;
                }

                .info-group {
                    display: flex;

                    &:not(.description) {
                        align-items: center;
                    }

                    label {
                        font-size: 1.6rem;
                        font-weight: 600;
                        margin-bottom: 0;
                        min-width: 120px;
                    }
                }

                .info-frame {
                    padding: 0 32px;

                    .row-info {
                        display: flex;
                        flex-direction: column;
                        margin: 8px 0;

                        .info-group {
                            margin-left: 32px;
                            display: flex;

                            &:not(.description) {
                                align-items: center;
                            }

                            label {
                                font-size: 1.6rem;
                                font-weight: 500;
                                margin-bottom: 0;
                                min-width: 120px;
                            }

                            img {
                                width: 240px;
                                margin: 0 4px;
                                border-radius: var(--default-border-radius);
                            }

                            video {
                                width: 240px;
                                margin: 0 4px;
                                border-radius: var(--default-border-radius);
                            }
                        }
                    }
                }
            }
        }
    }
    .reported {
        bottom: 0;
        right: 0;
        left: 0;
        position: absolute;
        display: block;
        text-align: center;
        color: #df1b1b;
        font-weight: 500;
    }
    .action-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        button {
            padding: 8px 16px;
            margin: 0 4px;
            color: var(--white-color);
            font-size: 1.6rem;
            font-weight: 500;
            cursor: pointer;
            width: 160px;
            border-radius: var(--default-border-radius);

            &:hover {
                opacity: 0.6;
            }
        }
        .completed {
            background-color: green;
        }

        .rejected {
            background-color: red;
        }
    }
    //modal
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .body {
        padding: 32px 100px 12px;
        height: 60vh;
        overflow-y: auto;

        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 32px;
        }

        .modal-action {
            display: flex;
            align-items: center;
            justify-content: center;

            #agree-btn,
            #cancel-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                padding: 16px 32px;
                margin: 0 8px;
                color: var(--white-color);
                font-size: 1.6rem;
                font-weight: 500;
                border-radius: var(--default-border-radius);
                cursor: pointer;

                span {
                    margin-left: 8px;
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            #agree-btn {
                background-color: #2c9e2a;
            }

            #cancel-btn {
                background-color: #df1b1b;
            }
        }
    }
    .image-wrapper {
        .image-upload {
            @media (min-width: 1200px) and (max-width: 1920px) {
                margin: 12px 0;
            }

            .action {
                display: flex;
                justify-content: flex-start;

                #add-btn,
                #remove-all-btn {
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: var(--white-color);
                    border-radius: var(--default-border-radius);
                    cursor: pointer;

                    .icon {
                        font-size: 1.6rem;
                        font-weight: 600;
                        margin-right: 4px;
                    }

                    &:hover {
                        opacity: 0.6;
                    }

                    // &.disabled {
                    //     background-color: gray;
                    //     cursor: pointer;
                    //     pointer-events: none;
                    // }
                }

                #add-btn {
                    background-color: green;

                    @media (min-width: 1201px) and (max-width: 1920px) {
                        padding: 12px;
                        font-size: 1.4rem;
                    }
                }
            }
            .image-list {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 12px;
                margin-top: 16px;

                .image-item {
                    position: relative;
                    width: 338px;
                    height: 224px;
                    border: 1px solid var(--border-color);
                    border-radius: var(--default-border-radius);
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .image-action {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: none;
                        align-items: center;

                        #update-btn,
                        #remove-btn {
                            padding: 16px;
                            font-size: 4rem;
                            font-weight: 600;
                            color: var(--primary-color);
                            background-color: transparent;
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        opacity: 0.8;

                        .image-action {
                            display: flex;
                        }
                    }

                    @media (min-width: 1201px) and (max-width: 1920px) {
                        width: 208px;
                        height: 124px;
                    }
                }
            }
        }
    }

    .message-frame {
        // padding: 0 50px;
        height: 200px;
        margin-bottom: 16px;

        textarea {
            resize: none;
            outline: none;
            width: 100%;
            height: 100%;
            font-size: 16px;
            padding: 10px;
            box-sizing: border-box;
        }
    }

    .error {
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }
}
