.wrapper {
    min-height: calc(88vh - var(--default-navbar-height));

    .contract-empty {
        text-align: center;
        color: red;
    }
    .search {
        display: flex;
        justify-content: flex-end;
        margin-top: -16px;
        margin-bottom: 12px;

        .search-box {
            display: flex;
            height: 36px;
            border-radius: var(--default-border-radius);
            background: var(--search-filter-background-color);
            padding: 8px 12px;
            color: #8f9bba;
            font-size: 1.4rem;

            input {
                background: transparent;
            }

            button {
                background-color: transparent;
                cursor: pointer;
            }

            .search-icon {
                margin-right: 12px;
                color: #2b3674;
                font-size: 1.8rem;
            }
        }
    }
    .contract-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;

        .contract-item {
            position: relative;
            width: 356px;
            box-shadow: var(--default-box-shadow);
            padding: 16px;
            border-radius: var(--default-border-radius);

            .card {
                .card-content {
                    display: flex;
                    align-items: center;
                    margin: 4px 0;

                    .card-title {
                        min-width: 140px;
                        color: var(--primary-color);
                    }
                }
            }

            .action {
                display: flex;
                align-items: center;
                justify-content: flex-end;

                #view-detail-link {
                    color: var(--primary-color);
                    text-decoration: underline !important;
                }
            }
        }
    }
}
