.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(95vh - var(--default-navbar-height));
    .content {
        .title-and-back {
            margin: 16px 0;
            .back-link {
                display: flex;
                align-items: center;
                font-size: 2rem;
                font-weight: 600;
                color: var(--primary-color);
                width: fit-content;
            }
        }

        .contract {
            margin: 0 auto;
            width: 80%;
            font-size: 1.8rem;
            textarea {
                resize: none;
                background-color: #eaeaea;
                border: none;
            }
            label {
                color: #1a97cc;
            }
            .client {
                display: flex;
                justify-content: space-between;
            }
            .cancel {
                display: flex;
                flex-direction: column;
            }
            hr {
                margin: 2% 0 1%;
            }
            .coach {
                display: flex;
                flex-direction: column;
                .title {
                    color: var(--primary-color);
                    text-align: center;
                }
                #coach-name {
                    background-color: #eaeaea;
                    padding: 15px;
                    border-radius: var(--default-border-radius);
                    margin-bottom: 8px;
                }
                select {
                    padding: 10px;
                }
                .drop-search {
                    min-width: 400px;
                    background-color: var(--white-color);
                    box-shadow: var(--default-box-shadow);
                    border-radius: var(--default-border-radius);
                    position: relative;
                    .wrapper {
                        background-color: white;
                        max-height: 300px;
                        padding: 0;
                        overflow-y: scroll;
                        .item {
                            color: black;
                            margin: 1px 0;
                            padding: 8px;
                            &:hover {
                                cursor: pointer;
                                background-color: var(--primary-color);
                                color: var(--white-color);
                            }
                            &.active {
                                border-bottom: 1px solid var(--white-color);
                            }
                        }
                    }
                }
            }

            button {
                cursor: pointer;
                display: block;
                justify-self: center;
                margin: 28px auto 0;
                padding: 12px 30px;
                background-color: #2c9e2a;
                color: white;
                font-size: 1.6rem;
                &:hover {
                    opacity: 0.8;
                }
                .icon {
                    margin-right: 5px;
                    vertical-align: bottom;
                }
            }
        }
    }
}
