.wrapper {
    flex: 1;
    position: relative;
    .image-wrapper {
        .image-upload {
            @media (min-width: 1201px) and (max-width:1920px){
                margin-top: -12px;
            }

            .action {
                display: flex;
                justify-content: flex-end;

                #add-btn,
                #remove-all-btn {
                    padding: 16px;
                    display: flex;
                    align-items: center;
                    font-size: 1.6rem;
                    font-weight: 600;
                    color: var(--white-color);
                    border-radius: var(--default-border-radius);
                    cursor: pointer;

                    .icon {
                        font-size: 1.6rem;
                        font-weight: 600;
                        margin-right: 4px;
                    }

                    &:hover {
                        opacity: 0.6;
                    }

                    &.disabled {
                        background-color: gray;
                        cursor: pointer;
                        pointer-events: none;
                    }
                }

                #add-btn {
                    background-color: green;

                    @media (min-width: 1201px) and (max-width: 1920px){
                        padding: 12px;
                        font-size: 1.4rem;
                    }
                }
            }
            .image-list {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: 12px;
                margin-top: 16px;

                .image-item {
                    position: relative;
                    width: 338px;
                    height: 224px;
                    border: 1px solid var(--border-color);
                    border-radius: var(--default-border-radius);
                    cursor: pointer;

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .image-action {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: none;
                        align-items: center;

                        #update-btn,
                        #remove-btn {
                            padding: 16px;
                            font-size: 4rem;
                            font-weight: 600;
                            color: var(--primary-color);
                            background-color: transparent;
                            cursor: pointer;
                        }
                    }

                    &:hover {
                        opacity: 0.8;

                        .image-action {
                            display: flex;
                        }
                    }

                    
                    @media (min-width: 1201px) and (max-width: 1920px) {
                        width: 208px;
                        height: 124px;
                    }
                }
            }
        }
    }
    .action-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);

        #save-btn {
            width: 120px;
            padding: 16px;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--white-color);
            background-color: var(--primary-color);
            border-radius: var(--default-border-radius);
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }

            @media (min-width: 1201px) and (max-width: 1920px){
                padding: 12px;
                font-size: 1.4rem;
            }
        }

        #cancel-btn {
            width: 120px;
            padding: 16px;
            font-size: 1.6rem;
            font-weight: 600;
            color: var(--white-color);
            background-color: red;
            border-radius: var(--default-border-radius);
            margin-left: 8px;
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }

            @media (min-width: 1201px) and (max-width: 1920px){
                padding: 12px;
                font-size: 1.4rem;
            }
        }
    }
}
