.wrapper {
    .action {
        #add-btn {
            padding: 12px 16px;
            width: 120px;
            background-color: green;
            color: var(--white-color);
            border-radius: var(--default-border-radius);
            cursor: pointer;

            &:hover {
                opacity: 0.6;
            }
        }
    }

    .image-list {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: 12px;
        margin-top: 16px;

        .image-item {
            position: relative;
            width: 340px;
            height: 224px;
            border: 1px solid var(--border-color);
            border-radius: var(--default-border-radius);

            img {
                width: 100%;
                height: 100%;
            }

            .image-action {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;
                align-items: center;

                #remove-btn {
                    cursor: pointer;
                    padding: 16px;
                    font-size: 2rem;
                    font-weight: 600;
                    color: var(--primary-color);
                    background-color: transparent;
                }
            }

            &:hover {
                opacity: 0.8;

                .image-action {
                    display: flex;
                }
            }

            @media (min-width: 1201px) and (max-width: 1920px) {
                width: 216px;
                height: 128px;
            }
        }
    }

    .image-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: red;
        }

        .update-link {
            color: var(--primary-color);
            text-decoration: underline;
        }
    }

    //Modal
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .body {
        padding: 32px 64px;

        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 32px;
        }

        .image {
            width: 400px;
            height: 260px;
            border-radius: var(--default-border-radius);
            margin: auto;
            margin-bottom: 32px;

            img {
                width: 100%;
                height: 100%;
                border-radius: var(--default-border-radius);
            }
        }

        .modal-action {
            display: flex;
            align-items: center;
            justify-content: center;

            #agree-btn,
            #cancel-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 180px;
                padding: 16px 32px;
                margin: 0 8px;
                color: var(--white-color);
                font-size: 1.6rem;
                font-weight: 500;
                border-radius: var(--default-border-radius);
                cursor: pointer;

                span {
                    margin-left: 8px;
                }

                &:hover {
                    opacity: 0.6;
                }
            }

            #agree-btn {
                background-color: green;
            }

            #cancel-btn {
                background-color: red;
            }
        }
    }
}
