.wrapper {
    height: 100%;
    position: relative;

    .title-and-back {
        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
            cursor: pointer;
        }

        .title {
            text-align: center;
            color: var(--primary-color);
        }
    }

    .content {
        margin-top: 16px;

        .file-card {
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 3px dashed #cbd5e0;
            background-color: #edf2f7;
            min-width: 380px;
            min-height: 200px;
            border-radius: var(--default-border-radius);

            .file-inputs {
                position: relative;
                margin-bottom: 1.5em;

                input {
                    position: relative;
                    text-align: right;
                    opacity: 0;
                    z-index: 2;
                    cursor: pointer;
                    height: 46px;
                    max-width: 200px;
                }

                button {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    color: #fff;
                    background-color: var(--primary-color);
                    font-size: 1.6rem;
                    cursor: pointer;
                    border-radius: var(--default-border-radius);
                    border: none;
                    outline: none;
                    box-shadow: var(--default-box-shadow);

                    i {
                        width: 1.5em;
                        height: 1.5em;
                        padding: 0.4em;
                        background-color: #fff;
                        color: var(--primary-color);
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 0.8em;
                        font-size: 0.8em;
                    }
                }

                &:hover {
                    button {
                        opacity: 0.6;
                    }
                }
            }
        }

        .file-list {
            .file-item {
                list-style: none;
                margin: 8px 0;
                background-color: #96c7f938;
                border-radius: 5px;
                display: flex;
                align-items: center;
                padding: 8px 16px;

                svg {
                    color: var(--primary-color);
                    &:first-child {
                        font-size: 1.2em;
                        margin-right: 0.8em;
                    }
                }

                p {
                    flex: 1;
                    font-size: 1.4rem;
                }

                .action {
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                }

                .actions {
                    justify-self: flex-end;
                    cursor: pointer;

                    .fa-spinner {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }

    #save-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        padding: 8px 16px;
        background-color: green;
        color: var(--white-color);
        border-radius: var(--default-border-radius);
        font-size: 1.6rem;
        font-weight: 500;
        text-align: center;
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }
}
