.wrapper {
    position: relative;
    height: 100%;
    button {
        &:hover {
            opacity: 0.8;
        }
    }
}
.container {
    display: flex;
}

.search {
    display: flex;
    align-items: center;
    padding-top: 50px;
    margin-left: auto;
}

.container_text {
    font-weight: 700;
    font-size: 25px;
    line-height: 28.65px;
    letter-spacing: -2%;
    align-items: left;
    vertical-align: center;
    margin-right: 10vw;
}

.search_input {
    background: transparent;
    align-items: center;
}

.search_box {
    display: flex;
    justify-content: center;
    height: 39px;
    border-radius: 49px;
    background: #e4eafa;
    align-items: center;
    padding: 13px 20px;
    color: #8f9bba;
    font-size: 14px;
}

.search_icon {
    margin-right: 11px;
    color: #2b3674;
    font-size: 18px;
    background-color: transparent;
}

.button_lock {
    cursor: pointer;
    background-color: #ca1414;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -2%;
    color: white;
}

.button_active {
    cursor: pointer;
    background-color: #2c8415;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
    letter-spacing: -2%;
    color: white;
}

table {
    table-layout: auto;
    width: 100%;
    // margin-top: 20px;

    // th {
    //     text-align: left;
    //     font-weight: 500;
    //     font-size: 14.04px;
    //     vertical-align: center;
    //     letter-spacing: -2%;
    //     padding: 10px;
    //     background-color: transparent;
    //     color: #909090;
    // }

    td {
        // padding: 10px;
        color: #24306e;
        font-size: 14.04px;
        vertical-align: center;
        letter-spacing: -2%;
        font-weight: 500;
    }
}

@media screen and (max-width: 767px) {
    .search_box {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .container {
        flex-wrap: wrap;
    }

    .container_text {
        margin-right: 0;
        text-align: center;
    }

    .search_box {
        width: auto;
    }
}

.container_confirm {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    margin-bottom: 15px;
}
.text_modal {
    text-align: center;
    margin: 20px 0;
}
.icon_modal {
    vertical-align: middle;
    margin-right: 5px;
}
.modal-header {
    background-color: var(--primary-color);
    color: rgba(255, 255, 255, 0.6);
    padding: 14px;
    text-align: center;
}
