.wrapper {
    position: relative;
    button {
        &:hover {
            opacity: 0.8;
        }
    }
}
.search {
    display: flex;
    justify-content: flex-end;
    .search-box {
        display: flex;
        height: 36px;
        border-radius: var(--default-border-radius);
        background: var(--search-filter-background-color);
        padding: 8px 12px;
        color: #8f9bba;
        font-size: 1.4rem;
        input {
            background: transparent;
        }
        .search-icon {
            margin-right: 12px;
            color: #2b3674;
            font-size: 1.8rem;
        }
    }
}

.admin-empty {
    display: flex;
    justify-content: center;

    h2 {
        color: red;
    }
}

.tb-coaches {
    table-layout: auto;
    width: 100%;
    text-align: center;
    border-spacing: 0 8px;

    .header-row {
        th {
            text-align: center;
            font-weight: 600;
            font-size: 1.4rem;
            color: #909090;
            padding: 8px 16px;
        }
    }

    .content-row {
        box-shadow: var(--default-box-shadow);
        border-radius: var(--default-border-radius);

        td {
            color: #24306e;
            font-size: 1.4rem;
            font-weight: 500;
            padding: 8px 16px;
            text-align: center;

            &.name {
                display: flex;
                align-items: center;
                justify-content: flex-start;

                .avatar {
                    width: 32px;
                    height: 32px;
                    margin-right: 16px;

                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .action-btn {
        text-align: right !important;

        button {
            padding: 8px 16px;
            cursor: pointer;
            border-radius: var(--default-border-radius);
            font-size: 1.5rem;
            color: white;
            width: max-content;

            svg {
                display: block;
            }

            &:hover {
                opacity: 0.6;
            }
        }

        #btn-info {
            background-color: #1a97cc;
            margin-right: 8px;
        }
        #btn-confirm {
            background-color: #2c9e2a;
        }

        #btn-warn {
            background-color: #df1b1b;
        }
        #warning {
            background-color: rgb(255, 140, 0);
            margin-right: 12px;
            .icon {
                vertical-align: text-top;
                margin-left: 4px;
            }
        }
    }
}

.btn-warn {
    cursor: pointer;
    background-color: #ca1414;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}

.btn-confirm {
    cursor: pointer;
    background-color: #2c8415;
    border-radius: var(--default-border-radius);
    width: 150px;
    height: 50px;
    font-size: 1.5rem;
    color: white;
}

.modal {
    align-items: center;
    margin-bottom: 15px;
    text-align: center;
    .header {
        background-color: var(--primary-color);
        color: rgba(255, 255, 255, 0.6);
        padding: 14px;
    }
    p {
        margin: 3% auto;
        font-size: 2.6rem;
        text-align: center;
    }
    .button {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin: 0 25%;
        .icon {
            vertical-align: sub;
            margin-right: 10px;
        }
    }
    .body {
        padding: 32px 64px;
        .note {
            margin-top: 12px;
            width: 100%;
            resize: none;
            padding: 8px 16px;
            font-size: 1.6rem;
            font-weight: 500;
            height: 20vh;
        }
    }
}
