.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-color);
    }
    .content {
        flex: 1;
        .notification {
            text-align: center;
        }
        .image-wrapper {
            .image-upload {
                .action {
                    display: flex;
                    justify-content: flex-end;

                    #add-btn,
                    #remove-all-btn {
                        padding: 16px;
                        display: flex;
                        align-items: center;
                        font-size: 1.6rem;
                        font-weight: 600;
                        color: var(--white-color);
                        border-radius: var(--default-border-radius);
                        cursor: pointer;

                        .icon {
                            font-size: 1.6rem;
                            font-weight: 600;
                            margin-right: 4px;
                        }

                        &:hover {
                            opacity: 0.6;
                        }

                        &.disabled {
                            background-color: gray;
                            cursor: pointer;
                            pointer-events: none;
                        }
                    }

                    #add-btn {
                        background-color: green;
                        margin-right: 8px;
                    }

                    #remove-all-btn {
                        background-color: red;
                    }
                }
                .image-list {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    gap: 12px;
                    margin-top: 16px;

                    .image-item {
                        position: relative;
                        width: 338px;
                        height: 200px;
                        border: 1px solid var(--border-color);
                        border-radius: var(--default-border-radius);
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        .image-action {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            display: none;
                            align-items: center;

                            #update-btn,
                            #remove-btn {
                                padding: 16px;
                                font-size: 4rem;
                                font-weight: 600;
                                color: var(--primary-color);
                                background-color: transparent;
                                cursor: pointer;
                            }
                        }

                        &:hover {
                            opacity: 0.8;

                            .image-action {
                                display: flex;
                            }
                        }
                    }
                }
            }
        }
    }
    .message {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        &.warning {
            top: unset;
            bottom: 60px;
        }
    }

    #send-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        padding: 16px;
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--white-color);
        background-color: var(--primary-color);
        border-radius: var(--default-border-radius);
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }
    }
}
