.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    .title {
        font-size: 2rem;
        font-weight: 600;
        color: var(--text-color);
    }
    .content {
        flex: 1;
        .notification {
            text-align: center;

            .update-link {
                color: var(--primary-color);
                text-decoration: underline;
            }
        }

        .certification-list {
            .info-group {
                padding: 16px 0;

                .title {
                    font-size: 2rem;
                    font-weight: 500;
                    color: var(--primary-color);
                }

                .image-list {
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    gap: 12px;
                    margin-top: 8px;

                    .image-item {
                        position: relative;
                        width: 338px;
                        height: 224px;
                        border: 1px solid var(--border-color);
                        border-radius: var(--default-border-radius);
                        cursor: pointer;

                        img {
                            width: 100%;
                            height: 100%;
                        }

                        &:hover {
                            opacity: 0.8;

                            .image-action {
                                display: flex;
                            }
                        }

                        @media (min-width: 1201px) and (max-width: 1920px) {
                            width: 208px;
                            height: 124px;
                        }
                    }
                }
            }

            .action-btn {
                display: flex;
                align-items: center;
                justify-content: center;

                #view-reason-btn {
                    padding: 12px 16px;
                    width: 160px;
                    background-color: red;
                    color: var(--white-color);
                    font-size: 1.6rem;
                    font-weight: 500;
                    border-radius: var(--default-border-radius);
                    cursor: pointer;

                    &:hover {
                        opacity: 0.6;
                    }
                }
            }
        }
    }
    .message {
        display: flex;
        justify-content: center;

        &.denied {
            align-items: center;
            flex-direction: column;

            .update-link {
                color: var(--primary-color);
                text-decoration: underline;
            }
        }
    }

    #send-btn {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 120px;
        padding: 16px;
        font-size: 1.6rem;
        font-weight: 600;
        color: var(--white-color);
        background-color: var(--primary-color);
        border-radius: var(--default-border-radius);
        cursor: pointer;

        &:hover {
            opacity: 0.6;
        }

        @media (min-width: 1201px) and (max-width: 1920px) {
            width: 100px;
            padding: 12px;
            font-size: 1.4rem;
        }
    }

    //Modal
    .header {
        padding: 16px;
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
    }
    .body {
        padding: 32px 64px;

        .title {
            font-size: 3rem;
            font-weight: 600;
            text-align: center;
            margin-bottom: 32px;
        }
        .reason {
            width: 100%;
            resize: none;
            padding: 8px 16px;
            font-size: 1.6rem;
            font-weight: 500;
        }
    }
}
