.wrapper {
    .no-available {
        margin: auto;
        max-width: var(--default-layout-max-width);
        min-height: var(--default-content-min-height);
        margin-top: var(--default-navbar-height);
        padding: 32px 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: red;
        }

        .back-link {
            display: flex;
            align-items: center;
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
        }
    }

    .content {
        position: relative;
        margin: auto;
        max-width: var(--default-layout-max-width);
        min-height: var(--default-content-min-height);
        margin-top: var(--default-navbar-height);
        padding: 32px 0;
        display: flex;

        .frame {
            flex: 1;
            padding: 16px 32px;
            box-shadow: var(--default-box-shadow);
            border-radius: var(--default-border-radius);
            position: relative;

            .back {
                display: flex;
                margin-bottom: 16px;
                .back-link {
                    display: flex;
                    align-items: center;
                    font-size: 2rem;
                    font-weight: 600;
                    color: var(--primary-color);
                }
            }

            .title {
                flex: 1;
                padding-top: 30px;
                margin-bottom: 20px;
                text-align: center;
                color: var(--primary-color);

                @media (min-width: 1201px) and (max-width: 1920px) {
                    padding-top: 0;
                    margin-bottom: 0;
                }
            }

            .main {
                margin-top: 16px;
                margin-bottom: 16px;
                padding: 0 120px;

                .info-frame {
                    padding: 16px 64px;
                    border-radius: 4px;
                    border: 1px solid var(--primary-color);
                    user-select: none;

                    .info-group {
                        display: flex;
                        margin: 16px 0;

                        &:not(.description) {
                            align-items: center;
                        }

                        label {
                            min-width: 180px;
                            font-size: 2rem;
                            font-weight: 500;
                            color: var(--primary-color);
                        }

                        span {
                            font-size: 2rem;
                        }

                        &.description {
                            img {
                                width: 240px;
                                margin: 0 4px;
                                border-radius: var(--default-border-radius);
                            }

                            video {
                                width: 240px;
                                margin: 0 4px;
                                border-radius: var(--default-border-radius);
                            }
                        }
                    }
                }
            }

            .error {
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .register-btn {
                width: 120px;
                display: flex;
                margin: auto;
                padding: 8px 16px;
                font-size: 1.6rem;
                font-weight: 500;
                background-color: green;
                color: var(--white-color);
                border-radius: var(--default-border-radius);
                cursor: pointer;

                span {
                    margin: auto;
                }

                &:hover {
                    opacity: 0.6;
                }

                &.disabled {
                    background-color: #ccc;
                    pointer-events: none;
                }
            }
        }
    }

    //Modal
    .body {
        padding-bottom: 2%;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .title,
        .sub-title {
            align-content: center;
            margin-bottom: 16px;
            text-align: center;
        }
        .title {
            background-color: var(--primary-color);
            color: rgba(255, 255, 255, 0.6);
            padding: 14px;
        }

        .input-group {
            padding: 0 120px;
            margin-bottom: 16px;

            label {
                display: block;
                margin-bottom: 8px;
                font-size: 1.6rem;
                font-weight: 500;
            }

            select {
                padding: 8px;
                border-radius: var(--default-border-radius);
                width: 100%;

                option {
                    font-size: 1.6rem;
                    font-weight: 500;
                    color: #000;
                }
            }
        }

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            .icon {
                vertical-align: sub;
                margin-right: 10px;
            }
            .btn-warn {
                cursor: pointer;
                background-color: #ca1414;
                border-radius: var(--default-border-radius);
                width: 150px;
                height: 50px;
                font-size: 1.5rem;
                color: white;
                margin: 0 8px;

                &:hover {
                    opacity: 0.6;
                }
            }

            .btn-confirm {
                cursor: pointer;
                background-color: #2c8415;
                border-radius: var(--default-border-radius);
                width: 150px;
                height: 50px;
                font-size: 1.5rem;
                color: white;
                margin: 0 8px;

                &:hover {
                    opacity: 0.6;
                }
            }
        }
        .message-frame {
            height: 200px;
            margin-bottom: 16px;

            textarea {
                resize: none;
                outline: none;
                width: 100%;
                height: 100%;
                font-size: 16px;
                padding: 10px;
                box-sizing: border-box;
                border-radius: var(--default-border-radius);
            }
        }

        .error {
            margin-bottom: 16px;
        }
    }
}
